.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  margin: 0.5vh
}

.score-table {
  font-size: calc(4px + 1vmin)
}

.selected-rects {
  margin: 0.5vh;
  font-size: calc(8px + 1vmin)
}

.com-file {
  margin: 0.5vh;
  font-size: calc(8px + 1vmin)
}